# Q1 & Q2

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")

drv.get('https://www.amazon.in/')
time.sleep(2)

search_button = drv.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
user_input = input("Please search your product: ")
p_search = user_input+'s' #use concatination to complete the search word 
search_button.send_keys(p_search)
time.sleep(2)

submit_button = drv.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
submit_button.click()
time.sleep(2)

#creating empty list to store fetched data
brand = []
Name_of_product = []
price = []
expected_delivery = []
product_url = []
brands = [] #create this empty list to split the brand data and store only brand name

start = 0
end = 3

drv.refresh()
time.sleep(3)
for i in range (start, end): # loop use to jump on next page
    

    brand_name =drv.find_elements(By.XPATH, "//span[@class = 'a-size-base-plus a-color-base a-text-normal']")
    for i in brand_name:
        brand.append(i.text)
        for i in brand:
            brands.append(i.split(" ")[0])
        
    prices = drv.find_elements(By.XPATH, "//span[@class = 'a-price-whole']")
    for i in prices:
        price.append(i.text)
        
    expected_d = drv.find_elements(By.XPATH, "//span[@class = 'a-color-base a-text-bold']")
    for i in expected_d:
        expected_delivery.append(i.text)
        
    p_url = drv.find_elements(By.XPATH, "//h2[@class = 'a-size-mini a-spacing-none a-color-base s-line-clamp-4']/a")
    for i in p_url:
        product_url.append(i.get_attribute('href'))
        
    time.sleep(2)   #to make sure all the data fetched on time 
    next_page = drv.find_element(By.XPATH, "//a[@class = 's-pagination-item s-pagination-next s-pagination-button s-pagination-separator']")
    next_page.click()
    time.sleep(2) #to make sure new page upload successfully

#printing on lenght to check inequality in the fetched data
print(len(price))    
print(len(expected_delivery))
print(len(product_url))
print(len(brands))

Please search your product: Watch
206
188
0
19110

In [26]:

products_attributes_lists = [price, brands, expected_delivery, product_url]
#created a nested list to stor all the data so that we can create DataFrame with uneqal data.

In [27]:
p_df1 = pd.DataFrame(products_attributes_lists)
#print(p_df1)
p_df2 = p_df1.transpose() # use transpose to convert rows into columns
#print(p_df2)
p_df3 = pd.DataFrame(p_df2)
p_df3.columns = ['Price', 'Brand Name', 'Expected Delivery', 'Prouduct link']
p_df3

        Price   Brand Name   Expected Delivery Prouduct link
0       1,899         Mens  Tomorrow, 14 March          None
1       1,899         Mens  Tomorrow, 14 March          None
2       1,899       Analog  Tomorrow, 14 March          None
3      13,495         Mens  Tomorrow, 14 March          None
4      13,495       Analog  Tomorrow, 14 March          None
...       ...          ...                 ...           ...
19105    None       Analog                None          None
19106    None  Aristocracy                None          None
19107    None       Analog                None          None
19108    None     Townsman                None          None
19109    None        PTron                None          None

[19110 rows x 4 columns]

In [28]:
import numpy as np #importing numpy
p_df4 =p_df3.replace(np.nan, '-') #replace nan with "-"
p_df4.isnull().sum() #count of null is 0

Price                0
Brand Name           0
Expected Delivery    0
Prouduct link        0
dtype: int64

In [29]:
p_df4

        Price   Brand Name   Expected Delivery Prouduct link
0       1,899         Mens  Tomorrow, 14 March             -
1       1,899         Mens  Tomorrow, 14 March             -
2       1,899       Analog  Tomorrow, 14 March             -
3      13,495         Mens  Tomorrow, 14 March             -
4      13,495       Analog  Tomorrow, 14 March             -
...       ...          ...                 ...           ...
19105       -       Analog                   -             -
19106       -  Aristocracy                   -             -
19107       -       Analog                   -             -
19108       -     Townsman                   -             -
19109       -        PTron                   -             -

[19110 rows x 4 columns]

# Q3

In [97]:
import urllib # We will require urllib to download images

drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()

drv.get("https://google.com") # get the google website
time.sleep(1)

In [98]:
#lets click on images button to land on images.google.com
imgs = drv.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div/div/div[1]/div/div[2]/a")
imgs.click()
time.sleep(2)  

#Scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

search_bar = drv.find_element(By.XPATH, "/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input")
#/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input
submit_button = drv.find_element(By.XPATH, "//span[@class = 'z1asCe MZy1Rb']")

In [99]:
search_bar.send_keys('fruits')
submit_button.click()
time.sleep(2)

Fruits = []
f_img = drv.find_elements(By.XPATH, "//img[contains(@class, 'rg_i Q4LuWd')]")
for i in f_img[0:10]:
    Fruits.append(i.get_attribute('src'))
    if len(Fruits) == 10:
        break
print(len(Fruits))
for i in range (10):
    urllib.request.urlretrieve(str(Fruits[i]),"Downloads/asd/fruits/fruits{}.jpg".format(i))

10

In [100]:
Search_bar = drv.find_element(By.XPATH, "/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input")
Search_bar.clear()
submit_button = drv.find_element(By.XPATH, "//span[@class = 'n6h3Rc']")
Search_bar.send_keys('Car')
submit_button.click()
time.sleep(2)

In [101]:
Cars = []

c_img = drv.find_elements(By.XPATH, "//img[contains(@class, 'rg_i Q4LuWd')]")
for i in c_img[0:10]:
    Cars.append(i.get_attribute('src'))
    if len(Cars) == 10:
        break
print(len(Cars))
for i in range(10):
    urllib.request.urlretrieve(str(Cars[i]),"Downloads/asd/Cars/cars{}.jpg".format(i))

10

In [102]:
#10 images has been downloaded
search_bar = drv.find_element(By.XPATH, "/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input")
search_bar.clear()
submit_button = drv.find_element(By.XPATH, "//span[@class = 'n6h3Rc']")
search_bar.send_keys("Machine Learning")
submit_button.click()

In [103]:
ML = []

machine_learning = drv.find_elements(By.XPATH,"//img[contains(@class, 'rg_i Q4LuWd')]")
for i in machine_learning[0:10]:
    ML.append(i.get_attribute('src'))
    if len(ML) == 10:
        break
print(len(ML))
for i in range(0,10):
    urllib.request.urlretrieve(str(ML[i]),"Downloads/asd/ML/ML{}.jpg".format(i))

10

In [104]:
#10 ML jpg file downloaded

search_bar  = drv.find_element(By.XPATH, "/html/body/c-wiz/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input")
search_bar.clear()
submit_button = drv.find_element(By.XPATH, "//span[@class = 'n6h3Rc']")
search_bar.send_keys("Cake")
submit_button.click()

In [105]:
cake = []
cakes = drv.find_elements(By.XPATH,"//img[contains(@class, 'rg_i Q4LuWd')]")
for i in cakes[0:10]:
    cake.append(i.get_attribute('src'))
print(len(cake))

10

In [106]:
for i in range(0,10):
    urllib.request.urlretrieve(str(cake[i]), "Downloads/asd/Cake/Cake{}.jpg".format(i))
    
#10 images has been downloaded

# Q4

In [30]:
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.flipkart.com/")
time.sleep(3)
close_registration = drv.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
close_registration.click() #closing the registration window appear in the starting 
search_bar = drv.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
submit_button = drv.find_element(By.XPATH, "//button[@class = 'L0Z3Pu']")
search_bar.send_keys("Oneplus Nord")
submit_button.click()
time.sleep(2)
brand = []
smart_phone = []
brand_names = drv.find_elements(By.XPATH, "//div[@class = '_4rR01T']")
for i in brand_names:
    brand.append(i.text.split(" ")[0])#.split(" ")
    
#print(brand)

for i in brand_names:
    smart_phone.append(i.text.split(" ")[1])
#print(smart_phone)
colour = [] #emepty list to store firstplit data
colour_name = [] #empty list to store final split data
for i in brand_names:
    colours = i.text.split("(")[1]
    colour.append(colours)
for i in colour:
    colour_name.append(i.split(",")[0])
#print(colour_name)
ROM = [] # RAM list to store RAM data
for i in brand_names:
    rom = i.text.split(",")[1]
    ROM.append(rom.split(")")[0] + " " + "ROM")
#print(ROM)
RAM = [] #ROM list to store ROM list
other_info = drv.find_elements(By.XPATH, "//ul[@class = '_1xgFaf']")
for i in other_info:
    RAM.append(i.text.split("|")[0])
#print(RAM)
camera = []

for i in other_info:
    camera.append(i.text.split("\n")[2])
#print(camera)
display = []
for i in other_info:
    display.append(i.text.split("\n")[1])
#print(display)
Battery = []
for i in other_info:
    Battery.append(i.text.split("\n")[3])
#print(Battery)
price = []
prices = drv.find_elements(By.XPATH, "//div[@class = '_30jeq3 _1_WHN1']")
for i in prices:
    price.append(i.text)
#print(price)
P_URL = []
urls = drv.find_elements(By.XPATH, "//a[@class = '_1fQZEK']")
for i in urls:
    P_URL.append(i.get_attribute('href'))
#print(P_URL)
#Data Frame for all the fetched details

flip_df = pd.DataFrame({"Brand Name": brand, "Smart Phone Name":smart_phone, "Colour":colour_name, "RAM":RAM, "ROM":ROM, "Camera":camera, "Display Size":display, "Battery":Battery, "Price":price, "Product link":P_URL})
flip_df    

flip_df.to_csv('1+nord.csv')

,Brand Name,Smart Phone Name,Colour,RAM,ROM,Camera,Display Size,Battery,Price,Product link
0,OnePlus,Nord,Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹19,485",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus,Nord,Blue Tide,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹19,872",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus,Nord,Blue Tide,8 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹21,980",https://www.flipkart.com/oneplus-nord-ce-2-lit...
3,OnePlus,Nord,Black Dusk,6 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹19,799",https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,OnePlus,Nord,Jade Fog,8 GB RAM,128 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,990",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
5,OnePlus,Nord,Black Dusk,8 GB RAM,128 GB ROM,64MP Rear Camera,16.74 cm (6.59 inch) Display,5000 mAh Battery,"₹21,999",https://www.flipkart.com/oneplus-nord-ce-2-lit...
6,OnePlus,Nord,Gray Shadow,8 GB RAM,128 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹28,999",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
7,OnePlus,Nord,Silver Ray,12 GB RAM,256 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹27,987",https://www.flipkart.com/oneplus-nord-ce-5g-si...
8,OnePlus,Nord,Gray Shadow,12 GB RAM,256 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹33,990",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
9,OnePlus,Nord,Charcoal Ink,8 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹24,990",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
10,OnePlus,Nord,Gray Sierra,8 GB RAM,128 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹29,999",https://www.flipkart.com/oneplus-nord-2-5g-gra...
11,OnePlus,Nord,Gray Mirror,6 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹23,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
12,OnePlus,Nord,Blue Haze,12 GB RAM,256 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹33,998",https://www.flipkart.com/oneplus-nord-2-5g-blu...
13,OnePlus,Nord,PAC-MAN,12 GB RAM,256 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹36,490",https://www.flipkart.com/oneplus-nord-2-5g-pac...
14,OnePlus,Nord,Gray Mirror,6 GB RAM,128 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹23,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
15,OnePlus,Nord,Charcoal Ink,6 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹20,999",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
16,OnePlus,Nord,Blue Void,6 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹22,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
17,OnePlus,Nord,Charcoal Ink,12 GB RAM,256 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹27,900",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
18,OnePlus,Nord,Blue Void,12 GB RAM,256 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹27,900",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
19,OnePlus,Nord,Silver Ray,6 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹24,499",https://www.flipkart.com/oneplus-nord-ce-5g-si...
20,OnePlus,Nord,Silver Gray,8 GB RAM,128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-5g-si...
21,OnePlus,Nord,Jade Fog,12 GB RAM,256 GB ROM,50MP Rear Camera,17.02 cm (6.7 inch) Display,4500 mAh Battery,"₹32,990",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
22,OnePlus,Nord,Gray Mirror,8 GB RAM,128 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹24,990",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
23,OnePlus,Nord,Blue Haze,8 GB RAM,128 GB ROM,50MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹29,738",https://www.flipkart.com/oneplus-nord-2-5g-blu...

# Q5

In [251]:
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.google.com/maps")
time.sleep(2)

In [252]:
search_bar = drv.find_element(By.XPATH, "/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]")
user_input = input("Please search your city: ")
p_search = user_input #use concatination to complete the search word 
search_bar.send_keys(p_search)
time.sleep(1)
#As suggested on doubt clearing session we can use current url

Please search your product: Ahemdabad

In [253]:
submit_button = drv.find_element(By.XPATH, "/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button")
submit_button.click()
time.sleep(2)

url_string = drv.current_url
url = url_string.split("@")[1]
print("latitude, longitude are = ", url.split(",")[0], ",", url.split(",")[1])

latitude, longitude are =  22.9861101 , 72.3879356

# Q6

In [120]:
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.digit.in/")
time.sleep(2)

In [126]:
laptops = drv.find_element(By.XPATH, "/html/body/div[2]/div/ul/li[2]/a")
laptops.click()
time.sleep(1)

In [127]:
best=drv.find_element(By.XPATH,'/html/body/div[2]/div/ul/li[2]/div/div/div[1]/span[4]/strong')
best.click()
time.sleep(2)
gaming_laptop = drv.find_element(By.XPATH, "/html/body/div[2]/div/ul/li[2]/div/div/div[5]/div/div[2]/a/span")
gaming_laptop.click()
time.sleep(2)

In [128]:
laptop_name = []
laptopnames = drv.find_elements(By.XPATH, "//div[@class = 'left_side']/a")
for i in laptopnames:
    laptop_name.append(i.text)
print(laptop_name)

['MSI Titan GT77-12UHS', 'Lenovo Legion 7', 'Alienware X17 R2', 'Acer Predator Triton 500 SE PT516-52s', 'Omen By HP (16-B1371TX)', 'Acer Predator Helios 300 AN515-45', 'MSI Delta 15 (A5EFK-083IN)', 'Omen By HP (16-C0141AX)', 'Lenovo Legion 5i Pro (82RF00MGIN)', 'Alienware M15 R5 Ryzen Edition Icc-C780001win']

In [129]:
available_details = []

other_info = drv.find_elements(By.XPATH, "//div[@class = 'Wrap-pop']")

for i in other_info:
    available_details.append(i.text)
print(available_details)

['Windows 11 Home OS', '17.3" (3840 x 2160) Display', '12th Gen Intel Core i9-12900HX | NA Processor', '2 TB SSD/64 GB DDR5 Memory', 'Windows 11 Home OS', '16" (2560 x 1600) Display', '12th Gen Intel Core i9-12900HX | 2.3 GHz Processor', '1 TB SSD/32 GB DDR4 Memory', 'Windows 11 Home OS', '17.3" (1920 x 1080) Display', '12th Gen Intel Core i9-12900H | 5 GHz Processor', '1 TB SSD/32 GB DDR5 Memory', 'Windows 11 OS', '16" (2560 x 1600) Display', '12th Gen Intel Core i7-12700H | 3.5 GHz Processor', '2 TB SSD/32 GB DDR5 Memory', 'Windows 11 Home OS', '16.1" (2560 x 1440) Display', '12th Gen Intel Core i7-12700H | 4.7 GHz Processor', '1 TB SSD/8 GB DDR5 Memory', 'Windows 11 Home OS', '15.6" (2560 x 1440) Display', 'AMD Ryzen 9-5900HX | NA Processor', '512 GB SSD/16 GB DDR4 Memory', 'Windows 11 Home OS', '15.6" (1920 x 1080) Display', 'AMD 5th Gen Ryzen 9-5900HX | 3.3 GHz Processor', '1 TB SSD/16 GB DDR4 Memory', 'Windows 11 Home OS', '16.1" (2560 x 1440) Display', 'AMD Ryzen™ 9 5900HX | 3.3 GHz Processor', '1 TB NVMe/16 GB DDR4 Memory', 'Windows 11 Home OS', '16" (2560 x 1600) Display', '12th Gen Intel Core i7-12700H | 2.3 GHz Processor', '1 TB SSD/16 GB DDR5 Memory', 'Windows 11 Home OS', '15.6" (1920 x 1080) Display', 'AMD Ryzen R7-5800H | 4.40 GHz Processor', '512 GB SSD/16 GB DDR4 Memory']

# Q7

In [131]:
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.forbes.com/")
time.sleep(5)
menu = drv.find_element(By.XPATH, "//div[@class = '_69hVhdY4']")
menu.click()
time.sleep(3)
viewall_b = drv.find_element(By.XPATH, "/html/body/div[1]/header/nav/div[1]/div/div/div[2]/ul/li[1]/div[1]")
viewall_b.click()
time.sleep(2)
world_billion = drv.find_element(By.XPATH, "/html/body/div[1]/main/div/section/section[1]/div/div/div[1]/div/div[1]/div[1]/div[2]")
world_billion.click()
time.sleep(3)
# singup_close = drv.find_element(By.XPATH, "/html/body/div[8]/div/button")
# singup_close.click()
rank = []
name = []
networth = []
age = []
citizenship = []
industry = []
source = []

for pages in range(0,15):
    ranks = drv.find_elements(By.XPATH, "//div[@class = 'rank']")
    for i in ranks:
        rank.append(i.text)


    names = drv.find_elements(By.XPATH, "//div[@class = 'personName']")
    for i in names:
        name.append(i.text)


    net_worth = drv.find_elements(By.XPATH, "//div[@class = 'netWorth']")
    for i in net_worth:
        networth.append(i.text)


    ages = drv.find_elements(By.XPATH, "//div[@class = 'age']/div")
    for i in ages:
        age.append(i.text)
        
    citizenships = drv.find_elements(By.XPATH, "//div[@class = 'countryOfCitizenship']")
    for i in citizenships:
        citizenship.append(i.text)


    sources = drv.find_elements(By.XPATH, "//span[@class = 'source-text']")
    for i in sources:
        source.append(i.text)


    industries = drv.find_elements(By.XPATH, "//div[@class = 'category']/div")
    for i in industries:
        industry.append(i.text)

    try:
        nxtbuttn=drv.find_element(By.CLASS_NAME,'next-page')
        nxtbuttn.click()
    except:
        break
    time.sleep(1)

df = pd.DataFrame({"Rank":rank, "Name":name, "Networth": networth, "Age":age, "Cizinship":citizenship, "Income Source": source, "industry": industry})
df

,Rank,Name,Networth,Age,Cizinship,Income Source,industry
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
2663,2578.,Zhang Yuqiang,$1 B,66,China,Fiberglass,Manufacturing
2664,2578.,Zhou Ruxin,$1 B,59,China,Navigation,Technology
2665,2578.,Wen Zhou & family,$1 B,57,China,chemicals,Manufacturing
2666,2578.,Zhou Yifeng & family,$1 B,43,China,liquefied petroleum gas,Energy
2667,2578.,Zhuang Kuilong & family,$1 B,59,China,polyester,Manufacturing

# Q8

In [241]:
from bs4 import BeautifulSoup
import time
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.youtube.com/")

search_bar = drv.find_element(By.XPATH, "/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/form/div[1]/div[1]/input")
search_bar.send_keys("Real madrid vs Man City leg 2")
time.sleep(2)

submit_button = drv.find_element(By.XPATH, "/html/body/ytd-app/div[1]/div/ytd-masthead/div[4]/div[2]/ytd-searchbox/button/yt-icon")
submit_button.click()
time.sleep(2)

play_video = drv.find_element(By.XPATH, "/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-video-renderer[1]/div[1]/div/div[1]/div/h3/a/yt-formatted-string")
play_video.click()

time.sleep(10)
from selenium.webdriver.common.action_chains import ActionChains
ActionChains(drv).scroll_by_amount(0,10000).perform()

In [242]:
from selenium.webdriver.common.action_chains import ActionChains
ActionChains(drv).scroll_by_amount(0,10000).perform()
    

# Extract the comments using BeautifulSoup
html = drv.page_source
soup = BeautifulSoup(html, "html.parser")

comments = []
for comment in soup.find_all("yt-formatted-string", class_="style-scope ytd-comment-renderer"):
    text = comment.text.strip()
    if text:
        comments.append(text)
    if len(comments) == 500:
        break
cupvote=[]
for cvote in soup.find_all("span", class_="style-scope ytd-comment-action-buttons-renderer"):
    text = cvote.text.strip()
    if text:
        cupvote.append(text)
    if len(cupvote) == 500:
        break
del cupvote[1::2]

In [243]:
len(comments)

20

In [244]:
len(cupvote)

20

In [245]:
cupvote

['1.7K',
 '1.9K',
 '1.1K',
 '898',
 '715',
 '1.5K',
 '308',
 '349',
 '3',
 '317',
 '420',
 '37',
 '2.7K',
 '85',
 '285',
 '188',
 '253',
 '248',
 '45',
 '18']

In [246]:
comments

['“You just can’t knock them out, Real Madrid. Paris were close, Chelsea were close, Man City were very very close”',
 "This is probably the most insane comeback in the history of football.. Less than 1 minute of official time left and then what a miraculous turnaround. Benzema's assist in the 1st goal was insane..",
 'The dedication .. the commitment .. the bravery ... Hala Madrid',
 'I was supporting real  ,Lost all hopes in 88th minute but what happened in just next couple of minutes just shocked me ..one of the greatest comeback ever',
 "Even 90 minutes and a 5-3 lead wasn't enough for City to break Madrid mentally but it took Madrid just 1 minute to shatter both their dreams and mentality. What a game this was!",
 'At 89 minutes I thought game was over but Same Time RodRygo Stepped in... Truly Beautiful',
 '10:21\n\nParis were close ... \nChelsea were close ....\nManchester City were very very close....\nOh man chilling game',
 "Sheer commitment, and never giving up attitude that's what's makes Real Madrid Real Madrid.. and as they say 90 mins in Bernabeu is too long .. well that's we witnessed. Hala Madrid",
 'I am a barca fan, I come here every month to relive this moment. Much respect to the entire real madrid team for these never backing down attitude. A life lesson right there.',
 'What a incredible cameback of Real Madrid ;',
 'Depths of despair to the heights of ecstasy ️\n\nSums up for me.',
 "1 month has passed now & I still can't get over of what my team did",
 'Can we take a moment to appreciate Courtouis as well? Man City had 10 shots on target yet he just let one of them in.\n\nEdit: The dude saved the best for last.',
 'I remembered 1999 champions league final after watching this ..... What a comeback... Hala Madrid ️',
 'They are truly the king of Champions league',
 'Their forever last minute goals! It’s always pleasure to watch.',
 'ONE OF THE GREATEST CHAMPIONS LEAGUE MATCHES IN HISTORY!!',
 'City had the upper hand, but when you face real, at their home, and in the UCL, anything’s possible, props to city, and Real going strong, to face Liverpool',
 "When I saw Benzama's goal, I literally shouted Siiu and Vamoss\nThe moment the ref blowed whistle, I started dancing while tears oozed out of my eyes   \nHappiest moment of the year",
 "I'm so proud of my club. These players are the best... Their spirit, courage, and strength are absolutely amazing... I hate when people say that it's all luck that we're here. Like Arsene Wenger said in one post-match analysis, 'Real Madrid getting through PSG, Chelsea, and now Man City is not a coincidence.' We're not a coincidence, we're not lucky, we're not average. We are here, coz we fight, we believe, we don't give up... We are still here... Coz we're Real Madrid. The greatest club in the competition and for me, the greatest club in the world... Period... Hala Madrid!"]

# Q9

In [63]:
drv = webdriver.Edge(r"C:\Users\Rahul\Desktop\Internship\edgedriver_win64\msedgedriver.exe")
drv.maximize_window()
drv.get("https://www.hostelworld.com/")

In [64]:
icon = drv.find_element(By.XPATH, "/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[1]/div/input")
icon.click()

In [65]:
search_bar = drv.find_element(By.XPATH, "//div[@class = 'search']/input")
#search_bar.click()
#time.sleep(1)
search_bar.send_keys("London")

In [66]:
loc_search = drv.find_element(By.XPATH, "/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]")
loc_search.click()

In [67]:
submit_button = drv.find_element(By.XPATH, "/html/body/div[3]/div/div/div[2]/div[2]/div/div/div[4]/div/div[2]/div/div[5]/button")
submit_button.click()

In [68]:
hostel_name = []
hostelnames = drv.find_elements(By.XPATH, "//h2[@class = 'title title-6']")
for i in hostelnames:
    hostel_name.append(i.text)
print(hostel_name)

["Wombat's City Hostel London", "St Christopher's Village", 'Generator London', 'NX London Hostel', 'Pickwick Hall', 'Safestay London Elephant & Castle', 'Smart Russell Square Hostel', 'Urbany Hostel London', 'Destinations Hostels @ The Gallery', 'No.8 Willesden Hostel London', 'Safestay London Kensington Holland Park', 'No.8 Seven Sisters', 'Phoenix Hostel', "St Christopher's Camden", "St Christopher's Hammersmith", 'Prime Backpackers Angel', 'YHA London Oxford Street', 'Barmy Badger Backpackers', 'London Backpackers', "St Christopher's Inn - London Bridge", 'PubLove @ The Steam Engine, Waterloo', "St Christopher's Greenwich", 'Kensal Green Backpackers', 'Strand Continental', 'Saint James Backpackers', "St Christopher's Shepherds Bush", 'Hootananny Hostel', 'PubLove @ The Crown, Battersea', 'PubLove @ The White Ferry, Victoria', 'Selina Camden']

In [69]:
#Distance from central City
distance = []
distance_cc = drv.find_elements(By.XPATH, "//div[@class = 'subtitle body-3']")
for i in distance_cc:
    distance.append(i.text.split("-")[1])
print(distance)

[' 1.8km from city centre', ' 3.6km from city centre Show on Map', ' 1.8km from city centre Show on Map', ' 3km from city centre Show on Map', ' 6.1km from city centre Show on Map', ' 2.3km from city centre Show on Map', ' 1.7km from city centre Show on Map', ' 2.6km from city centre Show on Map', ' 5.4km from city centre Show on Map', ' 1.7km from city centre Show on Map', ' 10km from city centre Show on Map', ' 5.8km from city centre Show on Map', ' 9km from city centre Show on Map', ' 4.2km from city centre Show on Map', ' 4.3km from city centre Show on Map', ' 7.5km from city centre Show on Map', ' 3.6km from city centre Show on Map', ' 2.1km from city centre Show on Map', ' 5.5km from city centre Show on Map', ' 11.9km from city centre Show on Map', ' 1.8km from city centre Show on Map', ' 0.5km from city centre Show on Map', ' 7.6km from city centre Show on Map', ' 8.2km from city centre Show on Map', ' 1.3km from city centre Show on Map', ' 5.5km from city centre Show on Map', ' 7km from city centre Show on Map', ' 5km from city centre Show on Map', ' 4.7km from city centre Show on Map', ' 2.4km from city centre Show on Map', ' 5.5km from city centre Show on Map']

In [70]:
#ratings
ratings = []
review_type = []
total_reviews = []
h_ratings = drv.find_elements(By.XPATH, "//div[@class = 'bottom-rating']")
for i in h_ratings:
    ratings.append(i.text.split("\n")[0])
    review_type.append(i.text.split("\n")[1])
    total_reviews.append(i.text.split("\n")[2])
print(ratings)
print(review_type)
print(total_reviews)

['8.9', '7.8', '7.4', '8.0', '8.8', '7.4', '7.4', '9.1', '9.4', '6.7', '7.3', '5.7', '7.2', '7.9', '7.7', '8.1', '9.0', '8.9', '7.6', '7.4', '8.0', '7.0', '5.2', '7.2', '7.6', '6.4', '7.6', '7.3', '7.7', '8.8']
['Fabulous', 'Very Good', 'Very Good', 'Fabulous', 'Fabulous', 'Very Good', 'Very Good', 'Superb', 'Superb', 'Good', 'Very Good', 'Rating', 'Very Good', 'Very Good', 'Very Good', 'Fabulous', 'Superb', 'Fabulous', 'Very Good', 'Very Good', 'Fabulous', 'Very Good', 'Rating', 'Very Good', 'Very Good', 'Good', 'Very Good', 'Very Good', 'Very Good', 'Fabulous']
['14646 Total Reviews', '11991 Total Reviews', '7393 Total Reviews', '1736 Total Reviews', '2582 Total Reviews', '4865 Total Reviews', '9932 Total Reviews', '689 Total Reviews', '120 Total Reviews', '4964 Total Reviews', '1456 Total Reviews', '3974 Total Reviews', '4003 Total Reviews', '3999 Total Reviews', '4212 Total Reviews', '715 Total Reviews', '4621 Total Reviews', '1897 Total Reviews', '4424 Total Reviews', '3465 Total Reviews', '377 Total Reviews', '3323 Total Reviews', '3702 Total Reviews', '942 Total Reviews', '1870 Total Reviews', '762 Total Reviews', '1501 Total Reviews', '294 Total Reviews', '321 Total Reviews', '46 Total Reviews']

In [71]:
#price
drom_forms = []
d_price = drv.find_elements(By.XPATH, "//div[@class = 'price-col']")
for i in d_price:
    drom_forms.append(i.text.split("\n"))
#print(drom_forms)
df =pd.DataFrame(drom_forms)
df.columns = ["Type", "Price"]
df

                     Type               Price
0           Privates From  Rs29060.85 Rs23249
1              Dorms From    Rs4843.48 Rs3875
2   No Privates Available                None
3              Dorms From    Rs2365.04 Rs2129
4           Privates From              Rs7160
5              Dorms From              Rs2110
6           Privates From    Rs9292.62 Rs7434
7              Dorms From    Rs1789.29 Rs1431
8           Privates From              Rs9878
9      No Dorms Available                None
10          Privates From              Rs7113
11             Dorms From              Rs1511
12  No Privates Available                None
13             Dorms From              Rs2051
14  No Privates Available                None
15             Dorms From              Rs3898
16  No Privates Available                None
17             Dorms From              Rs4692
18  No Privates Available                None
19             Dorms From              Rs1395
20          Privates From              Rs4001
21             Dorms From              Rs1423
22  No Privates Available                None
23             Dorms From              Rs1493
24  No Privates Available                None
25             Dorms From    Rs1956.34 Rs1859
26  No Privates Available                None
27             Dorms From     Rs2109.3 Rs1898
28  No Privates Available                None
29             Dorms From    Rs1926.72 Rs1734
30  No Privates Available                None
31             Dorms From              Rs2937
32          Privates From             Rs10867
33     No Dorms Available                None
34          Privates From              Rs8595
35             Dorms From              Rs2898
36          Privates From              Rs6401
37             Dorms From              Rs1600
38  No Privates Available                None
39             Dorms From    Rs2547.99 Rs2293
40  No Privates Available                None
41             Dorms From              Rs3062
42  No Privates Available                None
43             Dorms From    Rs2182.11 Rs1964
44          Privates From              Rs7122
45             Dorms From              Rs2601
46          Privates From              Rs7903
47             Dorms From              Rs2964
48          Privates From              Rs8616
49             Dorms From              Rs3326
50  No Privates Available                None
51             Dorms From    Rs1743.79 Rs1569
52  No Privates Available                None
53             Dorms From              Rs2471
54  No Privates Available                None
55             Dorms From              Rs2634
56  No Privates Available                None
57             Dorms From              Rs3523
58          Privates From             Rs19639
59             Dorms From              Rs6599

In [72]:
facilities_in_h = []
facilities = drv.find_elements(By.XPATH, "//div[@class = 'facilities-label facilities']")
for i in facilities:
    facilities_in_h.append(i.text)
facilities_in_h

['Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFree Breakfast',
 'Free Breakfast',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFree Breakfast',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFree Breakfast',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Follows Covid-19 sanitation guidance',
 'Follows Covid-19 sanitation guidance',
 'Free WiFi\nFree Breakfast\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFollows Covid-19 sanitation guidance',
 'Free WiFi\nFree Breakfast',
 'Free WiFi',
 'Free WiFi',
 'Free WiFi']