# Assignment - 1

# 1)

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/Main_Page"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

header_tags = []
for header in soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"]):
    header_tags.append(header.text)

header_tags_df = pd.DataFrame(header_tags, columns=["Header Tag"])
print(header_tags_df)

                       Header Tag
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

# 2)

In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

movies = []
for movie in soup.find_all("td", class_="titleColumn"):
    name = movie.find("a").text
    year = movie.find("span").text[1:-1]
    rating = movie.find_next_sibling("td", class_="ratingColumn").find("strong").text
    movies.append([name, rating, year])

movies_df = pd.DataFrame(movies, columns=["Name", "Rating", "Year of release"])
movies_df50 = movies_df[0:51]
print(movies_df50)

                                                 Name Rating Year of release
0                            The Shawshank Redemption    9.2            1994
1                                       The Godfather    9.2            1972
2                                     The Dark Knight    9.0            2008
3                               The Godfather Part II    9.0            1974
4                                        12 Angry Men    9.0            1957
5                                    Schindler's List    8.9            1993
6       The Lord of the Rings: The Return of the King    8.9            2003
7                                        Pulp Fiction    8.8            1994
8   The Lord of the Rings: The Fellowship of the Ring    8.8            2001
9                     Il buono, il brutto, il cattivo    8.8            1966
10                                       Forrest Gump    8.8            1994
11                                         Fight Club    8.7            1999
12              The Lord of the Rings: The Two Towers    8.7            2002
13                                          Inception    8.7            2010
14                            The Empire Strikes Back    8.7            1980
15                                         The Matrix    8.7            1999
16                                         GoodFellas    8.7            1990
17                    One Flew Over the Cuckoo's Nest    8.6            1975
18                                              Se7en    8.6            1995
19                               Shichinin no samurai    8.6            1954
20                              It's a Wonderful Life    8.6            1946
21                           The Silence of the Lambs    8.6            1991
22                                     Cidade de Deus    8.6            2002
23                                Saving Private Ryan    8.6            1998
24                                       Interstellar    8.6            2014
25                                    La vita è bella    8.6            1997
26                                     The Green Mile    8.6            1999
27                                          Star Wars    8.5            1977
28                         Terminator 2: Judgment Day    8.5            1991
29                                 Back to the Future    8.5            1985
30                      Sen to Chihiro no kamikakushi    8.5            2001
31                                        The Pianist    8.5            2002
32                                             Psycho    8.5            1960
33                                       Gisaengchung    8.5            2019
34                                               Léon    8.5            1994
35                                      The Lion King    8.5            1994
36                                          Gladiator    8.5            2000
37                                 American History X    8.5            1998
38                                       The Departed    8.5            2006
39                                 The Usual Suspects    8.5            1995
40                                       The Prestige    8.5            2006
41                                           Whiplash    8.5            2014
42                                         Casablanca    8.5            1942
43                                     Hotaru no haka    8.5            1988
44                                            Seppuku    8.5            1962
45                                   The Intouchables    8.5            2011
46                                       Modern Times    8.4            1936
47                       Once Upon a Time in the West    8.4            1968
48                                        Rear Window    8.4            1954
49                              Nuovo Cinema Paradiso    8.4            1988
50                                              Alien    8.4            1979

# 3)

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/india/top-rated-indian-movies/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

movies = []
for movie in soup.find_all("td", class_="titleColumn"):
    name = movie.find("a").text
    year = movie.find("span").text[1:-1]
    rating = movie.find_next_sibling("td", class_="ratingColumn").find("strong").text
    movies.append([name, rating, year])

movies_idf = pd.DataFrame(movies, columns=["Name", "Rating", "Year of release"])
ind_movies_df50 = movies_idf[0:51]
print(ind_movies_df50)

                                   Name Rating Year of release
0   Ramayana: The Legend of Prince Rama    8.5            1993
1            Rocketry: The Nambi Effect    8.4            2022
2                              Gol Maal    8.4            1979
3                               Nayakan    8.4            1987
4                            Anbe Sivam    8.4            2003
5                           777 Charlie    8.4            2022
6                              Jai Bhim    8.4            2021
7                     Pariyerum Perumal    8.4            2018
8                              3 Idiots    8.4            2009
9                           Apur Sansar    8.4            1959
10                     Manichitrathazhu    8.4            1993
11                                #Home    8.3            2021
12                      Soorarai Pottru    8.3            2020
13                         Black Friday    8.3            2004
14                    Kumbalangi Nights    8.3            2019
15                    C/o Kancharapalem    8.3            2018
16                     Taare Zameen Par    8.3            2007
17                             Kireedam    8.3            1989
18                               Dangal    8.3            2016
19                               Kaithi    8.3            2019
20                               Jersey    8.3            2019
21                                   96    8.3            2018
22                          Maya Bazaar    8.2            1957
23                            Natsamrat    8.2            2016
24                               Asuran    8.2            2019
25                           Drishyam 2    8.2            2021
26                           Sita Ramam    8.2            2022
27                         Thevar Magan    8.2            1992
28                           Visaaranai    8.2            2015
29                  Sarpatta Parambarai    8.2            2021
30                           Thalapathi    8.2            1991
31                      Pather Panchali    8.2            1955
32                         Nadodikkattu    8.2            1987
33                             Drishyam    8.2            2013
34                   Jaane Bhi Do Yaaro    8.2            1983
35                         Thani Oruvan    8.2            2015
36                         Sardar Udham    8.2            2021
37                            Aparajito    8.2            1956
38                         Vada Chennai    8.2            2018
39                    Khosla Ka Ghosla!    8.2            2006
40                              Anniyan    8.1            2005
41                             Ratsasan    8.1            2018
42                        Chupke Chupke    8.1            1975
43                   Gangs of Wasseypur    8.1            2012
44                              Peranbu    8.1            2018
45                             Drishyam    8.1            2015
46                             Mahanati    8.1            2018
47                       Bangalore Days    8.1            2014
48                                Satya    8.1            1998
49          Agent Sai Srinivasa Athreya    8.1            2019
50                               Premam    8.1            2015

# 4)

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://presidentofindia.nic.in/former-presidents.htm"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
presidents = []
for president in soup.find_all('div', class_='presidentListing'):
    Name = president.find('h3').text
    Sname = Name.split(' (')[0]
    term = president.find('p').text
    Sterm = term.split(': ')[1]
    presidents.append([Sname,Sterm])
presidents
presidents_df = pd.DataFrame(presidents, columns=["Name", "Term of Office"])
print(presidents_df)

                            Name  \
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad

                                       Term of Office
0                     25 July, 2017 to 25 July, 2022
1                     25 July, 2012 to 25 July, 2017
2                     25 July, 2007 to 25 July, 2012
3                     25 July, 2002 to 25 July, 2007
4                     25 July, 1997 to 25 July, 2002
5                     25 July, 1992 to 25 July, 1997
6                     25 July, 1987 to 25 July, 1992
7                     25 July, 1982 to 25 July, 1987
8                     25 July, 1977 to 25 July, 1982
9                24 August, 1974 to 11 February, 1977
10  3 May, 1969 to 20 July, 1969 and 24 August, 19...
11                        13 May, 1967 to 3 May, 1969
12                       13 May, 1962 to 13 May, 1967
13                   26 January, 1950 to 13 May, 1962

# 5)

# a)

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content)
teams = []
matches = []
points = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    teams.append(cols[1].text.strip())
    matches.append(cols[2].text.strip())
    points.append(cols[3].text.strip())
    ratings.append(cols[4].text.strip())
data = {
    "Team": teams,
    "Matches": matches,
    "Points": points,
    "Ratings": ratings
}

df = pd.DataFrame(data)
df = df.replace(r'\n',' ', regex=True)
df.index = df.index + 1
print(df)

               Team Matches Points Ratings
1         India IND      44  5,010     114
2     Australia AUS      32  3,572     112
3    New Zealand NZ      29  3,229     111
4       England ENG      33  3,656     111
5      Pakistan PAK      25  2,649     106
6   South Africa SA      27  2,775     103
7    Bangladesh BAN      33  3,129      95
8      Sri Lanka SL      34  2,976      88
9   Afghanistan AFG      20  1,419      71
10   West Indies WI      41  2,902      71

# b)

In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content)
Playername = []
Team = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    Playername.append(cols[1].text.strip())
    Team.append(cols[2].text.strip())
    ratings.append(cols[3].text.strip())
data = {
    "Player": Playername,
    "Team": Team,
    "Ratings": ratings
}

df = pd.DataFrame(data)
df.index = df.index + 1
print(df)

                   Player Team Ratings
1              Babar Azam  PAK     887
2   Rassie van der Dussen   SA     787
3            David Warner  AUS     747
4         Quinton de Kock   SA     743
5             Imam-ul-Haq  PAK     740
6            Shubman Gill  IND     734
7             Virat Kohli  IND     727
8             Steve Smith  AUS     719
9            Rohit Sharma  IND     719
10        Kane Williamson   NZ     700

# c)

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
soup = BeautifulSoup(response.content)
Playername = []
Team = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    Playername.append(cols[1].text.strip())
    Team.append(cols[2].text.strip())
    ratings.append(cols[3].text.strip())
data = {
    "Player": Playername,
    "Team": Team,
    "Ratings": ratings
}

df = pd.DataFrame(data)
df.index = df.index + 1
print(df)

               Player Team Ratings
1      Mohammed Siraj  IND     729
2      Josh Hazlewood  AUS     727
3         Trent Boult   NZ     708
4      Mitchell Starc  AUS     665
5         Rashid Khan  AFG     659
6          Adam Zampa  AUS     655
7     Shakib Al Hasan  BAN     652
8      Shaheen Afridi  PAK     641
9   Mustafizur Rahman  BAN     638
10   Mujeeb Ur Rahman  AFG     637

# 6)

# a)

In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.content)
teams = []
matches = []
points = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    teams.append(cols[1].text.strip())
    matches.append(cols[2].text.strip())
    points.append(cols[3].text.strip())
    ratings.append(cols[4].text.strip())
data = {
    "Team": teams,
    "Matches": matches,
    "Points": points,
    "Ratings": ratings
}

df = pd.DataFrame(data)
df = df.replace(r'\n',' ', regex=True)
df.index = df.index + 1
print(df)

               Team Matches Points Ratings
1     Australia AUS      21  3,603     172
2       England ENG      28  3,342     119
3   South Africa SA      26  3,098     119
4         India IND      27  2,820     104
5    New Zealand NZ      25  2,553     102
6    West Indies WI      27  2,535      94
7    Bangladesh BAN      13    983      76
8      Thailand THA       8    572      72
9      Pakistan PAK      27  1,678      62
10     Sri Lanka SL       8    353      44

# b)

In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content)
Playername = []
Team = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    Playername.append(cols[1].text.strip())
    Team.append(cols[2].text.strip())
    ratings.append(cols[3].text.strip())
df=pd.DataFrame({'Player':Playername,'Team':Team,'Ratings': ratings})
df

                Player Team Ratings
0         Alyssa Healy  AUS     762
1          Beth Mooney  AUS     754
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     731
4          Meg Lanning  AUS     717
5     Harmanpreet Kaur  IND     716
6      Smriti Mandhana  IND     714
7       Rachael Haynes  AUS     680
8  Chamari Athapaththu   SL     655
9    Amy Satterthwaite   NZ     641

# c)

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
soup = BeautifulSoup(response.content)
Playername = []
Team = []
ratings = []

table = soup.find("table", class_="table")
for row in table.find_all("tr")[1:11]:
    cols = row.find_all("td")
    Playername.append(cols[1].text.strip())
    Team.append(cols[2].text.strip())
    ratings.append(cols[3].text.strip())
df = pd.DataFrame({"Player": Playername,"Team": Team,"Ratings": ratings})
df.index = df.index + 1
print(df)

              Player Team Ratings
1    Hayley Matthews   WI     373
2     Natalie Sciver  ENG     371
3       Ellyse Perry  AUS     366
4     Marizanne Kapp   SA     349
5        Amelia Kerr   NZ     336
6      Deepti Sharma  IND     322
7   Ashleigh Gardner  AUS     292
8      Jess Jonassen  AUS     250
9           Nida Dar  PAK     232
10    Jhulan Goswami  IND     214

# 7)

In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://www.cnbc.com/world/?region=world"

response = requests.get(url)
soup = BeautifulSoup(response.content)
headline = []
for i in soup.find_all('a',class_='LatestNews-headline'):
    headline.append(i.text)
time = []
for i in soup.find_all('time',class_='LatestNews-timestamp'):
    time.append(i.text)
link = []
for i in soup.find_all('a',class_='LatestNews-headline'):
    link.append(i.get('href'))
df=pd.DataFrame({'Headline':headline,'Time':time,'News Link': link})
df

,Headline,Time,News Link
0,Ukraine war live updates: Wagner Group claims ...,2 Hours Ago,https://www.cnbc.com/2023/02/13/ukraine-war-li...
1,A grinding assault? What to expect from Russia...,2 Hours Ago,https://www.cnbc.com/2023/02/13/what-to-expect...
2,"Analysts see short-term strength, long-term 'g...",3 Hours Ago,https://www.cnbc.com/2023/02/13/analysts-see-s...
3,European markets muted as investors assess mon...,3 Hours Ago,https://www.cnbc.com/2023/02/13/european-marke...
4,India's largest insurer says it may review sta...,3 Hours Ago,https://www.cnbc.com/2023/02/13/indias-largest...
5,CNBC Daily Open: Oil popped and stocks flopped...,3 Hours Ago,https://www.cnbc.com/2023/02/13/stock-markets-...
6,This corner of tech has rebounded — and strate...,5 Hours Ago,https://www.cnbc.com/2023/02/13/chip-stocks-an...
7,Chinese EV brand Zeekr is now worth more than ...,5 Hours Ago,https://www.cnbc.com/2023/02/13/chinese-ev-bra...
8,Moody's cuts outlook for four Adani group comp...,7 Hours Ago,https://www.cnbc.com/2023/02/13/moodys-cuts-ou...
9,Singapore budget expected to focus on inflatio...,7 Hours Ago,https://www.cnbc.com/2023/02/13/heres-what-to-...
10,Here are 5 ETFs that offer more than 10% yield...,8 Hours Ago,https://www.cnbc.com/2023/02/13/jepi-and-more-...
11,"'Play offense, not defense': Analyst says buy ...",8 Hours Ago,https://www.cnbc.com/2023/02/13/play-offense-n...
12,Asia markets mixed ahead of economic data rele...,10 Hours Ago,https://www.cnbc.com/2023/02/13/asia-markets-i...
13,CNBC Daily Open: Oil popped and stocks flopped...,10 Hours Ago,https://www.cnbc.com/2023/02/13/stock-markets-...
14,Stock futures are down as Wall Street tries to...,10 Hours Ago,https://www.cnbc.com/2023/02/12/stock-market-t...
15,Investing Club mailbag: How to tell if a compa...,12 Hours Ago,https://www.cnbc.com/2023/02/12/investing-club...
16,"Super Bowl LVII: Chiefs win, Rihanna is pregna...",13 Hours Ago,https://www.cnbc.com/2023/02/12/super-bowl-202...
17,U.S. shoots down a fourth high-altitude object...,17 Hours Ago,https://www.cnbc.com/2023/02/12/members-of-con...
18,Mark Cuban: Internet misinformation will only ...,19 Hours Ago,https://www.cnbc.com/2023/02/12/mark-cuban-cha...
19,Why a higher Social Security full retirement a...,20 Hours Ago,https://www.cnbc.com/2023/02/12/social-securit...
20,Here's how much Americans plan to spend on the...,20 Hours Ago,https://www.cnbc.com/2023/02/12/super-bowl-how...
21,"Perfectionism can be your enemy, but it’s simp...",20 Hours Ago,https://www.cnbc.com/2023/02/12/how-to-fix-per...
22,"Meet Justina Miles, Rihanna's Super Bowl halft...",20 Hours Ago,https://www.cnbc.com/2023/02/12/meet-justina-m...
23,Here's where the jobs will be during the rolli...,21 Hours Ago,https://www.cnbc.com/2023/02/12/heres-where-th...
24,Breaking down the trade on Tesla shares ahead ...,21 Hours Ago,https://www.cnbc.com/2023/02/12/tesla-investor...
25,What to know about A.I. ETFs as ChatGPT hyster...,21 Hours Ago,https://www.cnbc.com/2023/02/12/what-to-know-a...
26,10 stocks that fit Warren Buffett's takeover c...,21 Hours Ago,https://www.cnbc.com/2023/02/12/warren-buffett...
27,Electric Ram pickup debuts in Super Bowl spot ...,22 Hours Ago,https://www.cnbc.com/2023/02/12/ram-super-bowl...
28,Neuralink investigated for possible unsafe tra...,"February 11, 2023",https://www.cnbc.com/2023/02/11/elon-musks-neu...
29,"ChatGPT AI hype cycle is peaking, but even tec...","February 11, 2023",https://www.cnbc.com/2023/02/11/chatgpt-ai-hyp...

# 8)

In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

response = requests.get(url)
soup = BeautifulSoup(response.content)

Authors = [] 
for i in soup.find_all("span", 'sc-1w3fpd7-0 dnCnAO'):
    Authors.append(i.text)
pdate = []
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    pdate.append(i.text)
title = []
for i in soup.find_all('h2'):
    title.append(i.text)
purl = []
for i in soup.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    purl.append(i.get('href'))
df=pd.DataFrame({'Paper Title':title,'Authors':Authors,'Published Date': pdate,'Paper URL': purl,})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9)

In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://www.dineout.co.in/delhi-restaurants?search_str=delhi"

response = requests.get(url)
soup = BeautifulSoup(response.content)

title = []
for i in soup.find_all('a',class_='restnt-name ellipsis'):
    title.append(i.text)
Location = []
for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    Location.append(i.text)
ratings = []
for i in soup.find_all('div', class_='restnt-rating rating-4'):
    ratings.append(i.text)
images = []
for i in soup.find_all('img',class_='no-img'):
    images.append(i.get('data-src'))
cuisine = [] 
for i in soup.find_all("span", 'double-line-ellipsis'):
    cuisine.append(i.text.split('|')[1])
df=pd.DataFrame({'Restaurant name':title,'Cuisine':cuisine,'Location': Location,'Ratings': ratings,'Image URL': images})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
4,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Cafe Delhi Heights,"Continental, North Indian, Beverages, Chinese...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The G.T. Road,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Cafe High 5,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
10,Dhaba Estd 1986 Delhi,North Indian,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,My Bar Square,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
12,Warehouse Cafe,"North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
13,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
14,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
15,Dasaprakash,"North Indian, South Indian, Beverages, Chines...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,Somewhere Restaurant & Bar,"North Indian, Continental, Asian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
17,Lord of the Drinks,"Chinese, North Indian, Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
18,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...